<!DOCTYPE html>
<html>
  <head>
    <title>램프의요정화니 단서를 모아라!</title>
    <meta charset="utf-8">
    <link rel="icon" href="https://s3.ap-northeast-2.amazonaws.com/allrvw/hwanie/fav2.png" type="image/png" sizes="16x16">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/hwaStyle.css">
  </head>
  <body>
    <div class="container">
        <div class="row justify-content-center no-gutters">
            <div class="col-xs-auto">
                <img src="https://s3.ap-northeast-2.amazonaws.com/allrvw/hwanie/hwanieTop.jpg" class="responsive">
            </div>

            <div class="w-100"></div>
            <form action="/hwanie/clues" method="post">
            
                <div class="form-group">
                    <select class="form-control" id="clue1" name="clue1">
                        <option value="0">단서1</option>
                        <option value="1">빨간색</option>
                        <option value="2">노란색</option>
                        <option value="3">파란색</option>
                    </select>
                </div>
            
         
                <div class="form-group">
                    <select class="form-control" id="clue2" name="clue2">
                        <option value="0">단서2</option>
                        <option value="1">9</option>
                        <option value="2">898</option>
                        <option value="3">20000</option>
                    </select>
                </div>
         
        
                <div class="form-group">
                    <select class="form-control" id="clue3" name="clue3">
                        <option value="0">단서3</option>
                        <option value="1">핫도그</option>
                        <option value="2">무지개</option>
                        <option value="3">구dog</option>
                    </select>
                </div>
    
           
                <div class="form-group">
                    <select class="form-control" id="clue4" name="clue4">
                        <option value="0">단서4</option>
                        <option value="1">영희</option>
                        <option value="2">피디</option>
                        <option value="3">화니</option>
                    </select>
                </div>
   
                <div class="form-group">
                    <select class="form-control" id="clue5" name="clue5">
                        <option value="0">단서5</option>
                        <option value="1">룰라</option>
                        <option value="2">콜라</option>
                        <option value="3">몰라</option>
                    </select>
                </div>
      
                <img src="https://s3.ap-northeast-2.amazonaws.com/allrvw/hwanie/hwanieBottom_v2.jpg" class="responsive">                

                <button type="submit" class="btn btn-secondary" style="width:100%; height:auto;">조각을 맞춰라!</button>

            </form>
        </div>
        made by PD ^^
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
  </body>
</html>
